.Home-wrapper {
    top: 50vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#test{
    position: absolute;
    top: 70vh;
    background-color: yellowgreen;
    height: 10vh;
    width: 10vw;
}