html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, ul, li, input, button{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
}

li {
    list-style-type: none;
}

/* *********** ADDITIONALS *********** */

.NavHistory{
    position: fixed;
    top: 9%;
    left: 9%;
    width: 100%;
    display: flex;
    z-index: 0;
}

.NavLinksSmall{
    cursor: pointer;
    margin: 0 1%;
}


/************** APP *****************/

.App-container{
    position: relative;
}

.Main-wrapper {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Content-wrapper{
    position: relative;
    margin: 4em 6%;
    background: burlywood;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/********* NAV MENU BAR *********/

.TopBar-wrapper {
    position: fixed;
    top: 3em;
    width: 36%;
    height: calc(100% - 6em);
    background: aquamarine;
    z-index: 2;
}

header {
    background: antiquewhite;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WrapTitle{
    position: relative;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    max-width: 70%;
    min-width: 70%;
    align-items: center;
    justify-content: space-between;
}

#burger-menu-svg{
    position: absolute;
    width: 100%;
    height: 100%;
}

#cart-button-svg{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    height: 2em;
}

#cart-button-container{
    display: flex;
    justify-content: flex-end;
    margin-left: 9%;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 3%;
}

.SquaredButtons{
    position: relative;
    min-width: 15%;
    min-height: 60%;
    cursor: pointer;
    margin-left: 2%;
}

.SideMenuBack{
    position: fixed;
    height: 200vh;
    width: 100vw;
    background: #3800ff1a;
    z-index: 1;
}

/* ********** ************** */

.ListMenu-item {
}

.SignOutLinks-wrapper {
    position: fixed;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background: bisque;
    height: 3em;
    width: 100%;
}

.SignOutLinks-wrapper > * {
    cursor: pointer;
}

.MenuLinks-wrapper{

}

/********* DASHBOARD ***********/

.Dashboard-Wrapper {

}


/******* FORMS ************/

.My-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Forms-wrapper{
    display: flex;
    justify-content:center ;
    align-items: center;
}

.MyFormEl-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/* ************** CATALOGO *************** */

.GroupButton-item{
    display: flex;
    min-width: 35%;
    max-width: 45%;
    background: grey;
    margin: 2%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}


.ShowCase-wrapper{
}

/* ******* CATEGORIES ************** */


.Categories-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


/* ******* SECTIONS ************** */

.Section-item{
    position: relative;
    flex: 1 1 auto;
    margin: 3% 0;
    background: grey;
    min-height: 9em;;
}

/* ******* PRODUCTS ************** */

.ProductList-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    height: 81vh;
}

.ProductList-wrapper::-webkit-scrollbar{
    display: none;
}

.ProductList{
    display: flex;
    flex-direction: column;
    min-width: 81%;
}

.ProductListItemDetails{
    display: flex;
}

.ListItemInforms{
    background: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
}

.ListItemInfo-container{
    flex: 1 1 50%;
    display: flex;
    max-width: 50%;
    flex-direction: column;
}

#list-item-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ProductCard{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: beige;
    width: 71%;
    height: 66%;
    top: 12.2%;
    padding: 2%;
}



.ClosePopupsButton{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 15;
}

.ProductCard-back{
    position: fixed;
    height: 200vh;
    width: 100vw;
    background: #3800ff1a;
    z-index: -1;
}

/* *********** LISTS ITEMS ************ */

.ItemInfo{
}

.ItemImage{
    background: beige;
    display: flex;
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 50%;
    align-items: center;
    justify-content: center;
}

.ItemAttributes{
    padding: 3%;
    cursor: pointer;
}
.ItemAttributes-text{
    padding: 3%;
}
.ItemAttributes-input{
    padding: 3%;
    max-width: 7%;
    max-height: 6%;
    min-width: 12%;
}

.ItemAttributes-button{
    padding: 3%;
    max-width: 15%;
    max-height: 16%;
    min-width: 33%;
    min-height: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


.TEMPimage{
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9em;
    width: 9em;
    margin: 2%;
    cursor: pointer;
}

.Test{
    position: fixed;
    bottom: 15vh;
    left: 2%;
}


.ButtonsTest{
    position: fixed;
    height: 3vh;
    width: 100vh;
    bottom:8%;
    display: flex;
}

.ButtonTest{
    min-width: 6%;
    margin: 0 3%;
}

/** *********** CART ************* */

/* ********** CART PAGE ********** */


.Cart-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.Cart-container::-webkit-scrollbar{
    display: none;
}

.CartList-container{
    position: absolute;
    top: 9%;
    overflow-y: scroll;
    height: 88%;
    width: 96%;
}

.CartList::-webkit-scrollbar {
    display: none;
}

.CartList{
    background: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 12%;
    margin-top: 1%;
}

.CartListItem{
    display: flex;
    background: burlywood;
    margin: 2%;
}

.CartPage-container{
    flex: 1 1 auto;
    min-height: 66vh;
}

.TitleCart{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 72%;
}

#cart-title{
    justify-self: center;
}

.CartSubtitle{
    position: fixed;
    top: 15%;
    margin-top: 1%;
    z-index: 1;
}


/* ********** CART POPUP ********* */

.CartPopUp-container{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.CartPopUp-back{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #3800ff1a;
}

.CartPopUp{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: beige;
    width: 72%;
    height: 68%;
    top: 10%;
    padding: 2%;
}

.CartComponent-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}