.Dashboard{
    position: absolute;
    width: 80vw;
    height: 71vh;
    top: 3vh;
    left: 0;
    display: flex;
    flex-direction: column;
    background: blanchedalmond;
    overflow-y: scroll;
}

.ProductsManager{
    margin: 6%;
    display: flex;
    flex-direction: column;
    background: blanchedalmond;
}

.CreatorsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background: blanchedalmond;
}

.PopupCreator{
    position: absolute;
    height: 80vh;
    width: 60vw;
    top: 3%;
    background: coral;
}
.PopupCreatorBack{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #dad7fa75;
    z-index: 1;
}

.PopupCreatorComponent{
    position: relative;
    z-index: 2;
}

.Creator{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin: 3%;
    background: blanchedalmond;
}

.Creator > * {
    margin: 3%;
    background: azure;
}

