html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, ul, li, input, button{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
}

/************** APP *****************/

.App-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.App-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.TitlePage {
}


/********* NAV MENU BAR *********/

.TopBar-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    top: 0;
    width: 100vh;
}

.TopBarLinks-wrapper{
    display: flex;
    flex : 1 1 auto;
    justify-content: space-around;
    align-items: center;
}

.ListMenu-item {
    list-style: none;
}

/********* DASHBOARD ***********/

.Dashboard-Wrapper {

}


/******* FORMS ************/

.My-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Forms-wrapper{
    display: flex;
    justify-content:center ;
    align-items: center;
}

.MyFormEl-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}



/****** PRODUCTS **********/

.ProductListItem-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ShowCase-wrapper{

}

/****** CATEGORIES **********/

.Content-wrapper{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 6em;
    min-width: 27em;
    min-height: 15em;
}

.Category-item{
}