html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, ul, li, input, button{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
}

li {
    cursor: pointer;
    list-style-type: none;
}


/************** APP *****************/

.App-container{
    position: relative;
}

.Main-wrapper {
    position: absolute;
    top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}
.Content-wrapper{
    position: relative;
    //background: darkkhaki;
    flex: 1 1 auto;
    min-height: 18em;
    min-width: 75%;
    margin-bottom: 2em;
}

.NavHistory{
    position: absolute;
    top: -1.8em;
    width: 100%;
    display: flex;

}

.NavLinksSmall{
    cursor: pointer;
    margin: 0 1%;
}

/********* NAV MENU BAR *********/

.TopBar-wrapper {
    position: fixed;
    top: 3em;
    width: 36%;
    height: calc(100% - 6em);
    background: aquamarine;
    z-index: 1;
}

header {
    background: antiquewhite;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 1;
    display: flex;
}

.WrapTitle{
    position: relative;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    max-width: 70%;
    min-width: 50%;
}

#burger-menu-svg{
    position: absolute;
    width: 100%;
    height: 100%;
}

#cart-button-svg{
    height: 80%;
    width: auto;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SquaredButtons{
    position: relative;
    min-width: 15%;
    min-height: 60%;
}


/* ********** ************** */

.ListMenu-item {
}

.SignOutLinks-wrapper {
    position: fixed;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background: bisque;
    height: 3em;
    width: 100%;
}

.MenuLinks-wrapper{

}

/********* DASHBOARD ***********/

.Dashboard-Wrapper {

}


/******* FORMS ************/

.My-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Forms-wrapper{
    display: flex;
    justify-content:center ;
    align-items: center;
}

.MyFormEl-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/* ************** CATALOGO *************** */

.GroupButton-item{
    flex: 1 1 40%;
    background: #8785a3;
    display: flex;
    margin: 2%;
    align-items: center;
    max-width: 46%;
    max-height: 46%;
    justify-content: center;
}


.ShowCase-wrapper{
}

/* ******* CATEGORIES ************** */


.Categories-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}


/* ******* SECTIONS ************** */

.Section-item{
    position: relative;
    flex: 1 1 auto;
    margin: 6% 0;
    background: grey;
    min-height: 9em;;
}

/* ******* PRODUCTS ************** */

.ProductListItems{
    display: flex;
    flex-direction: column;
}

.ProductListItemDetails{
    position: absolute;
    width: 100%;
    height: 100%;
}


.ProductListItem-wrapper{
}

.MoreDetailsProduct{
}


.ItemInfo{
    position: absolute;
    right: 0;
    width: 50%;
    left: 50%;
    height: 50%;
    padding: 3%;
}

.ItemImage{
    position: absolute;
    background: beige;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ItemAttributes{
    padding: 3%;
}

.TEMPimage{
    background: darkgray;
    min-width: 80%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/** *********** CART ************* */


.CartButtonsPanel{
    position: absolute;
    background: cadetblue;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
